﻿@model IEnumerable<SportsStore.Domain.Entities.Product>
@{
    ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Products</h1>
<p style="float:right">
 @using (Html.BeginForm("Logout", "Account"))
 { 
    <p><input type="submit" value="Cerrar sesión" /></p>
 }

<table class="Grid">
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th class="NumericCol">Price</th>
    <th>Actions</th>
    </tr>
    @foreach (var item in Model) {
    <tr>
    <td>@item.ProductID</td>
        
    <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductID })</td>
    <td class="NumericCol">@item.Price.ToString("c")</td>
    <td>
        @using (Html.BeginForm("Delete", "Admin")) {
        @Html.Hidden("ProductID", item.ProductID)
        <input type="submit" value="Delete"/>        
        }
    </td>
    </tr>
    }
</table>

<p>@Html.ActionLink("Add a new product", "Create")</p>
<p style="float:left;color:Red">@Html.ActionLink("Volver a la tienda","list","Product")</p>