﻿@model SportsStore.WebUI.Models.LoginViewModel
@{
<link href="../../Content/Admin.css" rel="stylesheet" type="text/css" />
ViewBag.Title = "Admin: Log In";
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Log In</h1>
<p>Please log in to access the administrative area:</p>
    @using(Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log in" /></p>
}