﻿<!DOCTYPE html>
<html>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   @* @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
        <div id="header">
          @{Html.RenderAction("Summary", "Cart");}
          <div id="LoginArea">@Html.ActionLink("Acceso admin","Login","Account")</div>
          <div class="title">SPORTS STORE</div>
        </div>
       <div id="categories">
             @{ Html.RenderAction("Menu", "Nav");}
       </div>
       <div id="content">
        @RenderBody()
       </div>
</body>
</html>
